@media screen and (max-width: 600px) {
    #main {
  
      .grid-products {
        display: grid;
        grid-template: 1fr/1fr;
      }
  
    .container .grid {
      display: grid;
      padding-top: 1vh;
      padding-bottom: 8vw;
      grid-template: 1fr / 1fr;
      
      .img {
        display: flex;
        justify-content: center;
      }
  }
  
  #h1-contact {
    padding-top: 50px;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    }
  }
  }
  @media screen and (max-width: 768px) {
    #main {
  
      .grid-products {
        display: grid;
        grid-template:  50% 1fr  /50% 1fr;
        padding-bottom: 30vh;
      }
    }
  }